header
{
  text-align: center;
  padding:20px;
}

.btn-file
{
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file]
{
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.code
{
  font-family: monospace;
}

.weatherWidget
{
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 10px;
}

#nurseryRhyme
{
  font-style: italic;
  font-size: 30px;
  padding: 20px;
}
