
.code
{
  font-family: monospace;
}

.weatherWidget
{
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 10px;
}

#nurseryRhyme
{
  font-style: italic;
  font-size: 30px;
  padding: 20px;
}
