<h1 class="display-1" style="text-align:center">Welcome to Meadowlark Travel!</h1>

<div class="lead" style="text-align:right;">Today's date is {{today}}</div>
{{> weather}}
<<<<<<< Updated upstream
=======

<<<<<<< Updated upstream
<p>Today's date is {{today}}</p>
=======
{{#if firstVisit}}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Notice: </strong> This site uses cookies.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
{{/if}}
>>>>>>> Stashed changes
>>>>>>> Stashed changes
