
<header>
  <img src="/img/logo.png" alt="Meadowlark Travel Logo">
</header>
<h1 class="display-1" style="text-align:center">Welcome to Meadowlark Travel!</h1>

<div class="lead" style="text-align:right;">Today's date is {{today}}</div>
{{> weather}}

<p>Your fortune of the day:</p>
<blockquote class="display-4">
  {{fortune}}
</blockquote>
