<div class="jumbotron">
  <img src="/img/logo.png" alt="Meadowlark Travel Logo" id="logo">
  <h1 class="display-3">Meadowlark Travel</h1>
  <h4>Go on and go somewhere.</h4>
</div>

<p>Your fortune of the day:</p>
<blockquote>
  {{fortune}}
</blockquote>

<div class="lead" style="text-align:right;">
  Today's date is <span id="date">{{today}}</span>
</div>
{{> weather}}
